<img class="head__image" src="https://i.imgur.com/QjHPFvx.png" />
<div class="card" style="margin-top: 40px;">
  <ng-container *ngIf="!loading">
    <a href="#response" style="text-decoration: none;">
      <mat-card style="margin-bottom: 30px;background-color: #ffcdd2;color: black;"><b>Update 05/31:</b> Xiaomi response</mat-card>
    </a>

    <h1>Dear Xiaomi executives,</h1>

    As users of <b>Xiaomi, Redmi and POCO</b> devices in the Global market, a point has come where we are forced to make
    a
    joint complaint regarding the support of said terminals.<br><br>

    When the company was created in 2010 the goal was to make a good quality and inexpensive device. One of the main
    characteristics why users started to buy MIUI was because <b>it could be fully customized</b>, it was a <b>more open
      system</b>,
    through the use of themes and the amount of options that there were. But there came a time when the objective of
    MIUI changed, and those options for which many people bought the devices began to be eliminated. With the arrival of
    the Global ROM, even the characteristics of the themes were lost, the application being blocked for years. In
    addition, the arrival of the Global ROM introduced the change of several Xiaomi applications for those of
    Google.<br><br>

    Although thanks to the arrival of Xiaomi to the Global market, users of this market do not need to resort to
    importing devices from China, many of us have seen the need to resort to <b>changing the Global ROM for the Chinese
      version or for ROMs from third parties</b>. This is due to poor Global ROM optimization. By releasing so many
    devices a
    year and in so many variants, it has made global version support <b>dire</b>. In recent months we have seen devices
    that
    have become unusable when poorly developed OTA updates are released, that practically <b>all devices contain serious
      errors</b> that make it impossible to use the terminals correctly and that many devices take months to correct any
    errors they have.<br><br>

    You just have to go around Google, Mi Community or social networks to check the thousands of users who are having
    problems with their Xiaomi devices.<br><br>

    Since this statement, we ask for a series of solutions so that users who have been from the beginning and those who
    have been arriving later continue to use Xiaomi devices and we are not forced to look for alternatives in other
    places.<br><br>

    <h2>Better support for Global ROMs</h2>

    We ask for better support for Global ROMs, with the creation of <b>a department in Europe</b> dedicated exclusively
    to
    Global ROMs, <b>greater contact with users</b> and error reporting.<br><br>

    Not having a development department outside of China causes the developers themselves <b>not to test the ROMs in
      European or American territory</b>, therefore, many of the errors are not detected until the update has been
    released.
    It also causes the developer-user contact to be harmed by language, time, culture and tool barriers.<br><br>
    <img src="https://i.imgur.com/JDdODaT.jpg" width="80%" style="margin: 0 auto; display: block;" /><br>

    <h2>Global ROM comparison with the Chinese version</h2>

    If we compare the Global versions with the China version we see that <b>many of the features are not the same</b>,
    many
    of the novelties of the Chinese ROM are not available in the Global version. You just have to look at the news of
    MIUI 12.5 from China and those of the global one, most like the animal sounds are not there. These differences are
    also found in the optimization, if we compare the camera of a Mi 10 Pro between the Chinese and Global versions, we
    find that the Global version has a worse quality than the Chinese version. <br> <br>
    <img src="https://i.imgur.com/n1wwC1V.jpg" width="80%" style="margin: 0 auto; display: block;" /><br>

    <h2>Number of devices</h2>

    This point may be understandable for a company that wants to earn a lot of money, but it becomes a negative point
    because the <b>number of ROMs to maintain support increases</b> and if there is no increase in the development
    department
    at the end it ends <b>worsening</b> ROM support. <br> <br>

    It also causes many users, given the number of terminals that are available, <b>not knowing which one to choose</b>
    and end
    up choosing another brand. In Europe and Latin America, the average replacement of terminals is every 3 years,
    therefore we do not need so much variety of devices and new versions every little time. <br> <br>
    <img src="https://i.imgur.com/0j6N7HF.jpg" width="80%" style="margin: 0 auto; display: block;" />

    <h2>More Xiaomi Ecosystem</h2>

    One of the best features of the brand is the Xiaomi ecosystem, its products and applications. But every time we can
    enjoy this ecosystem less due to the replacement of applications by Google's and by not bringing more options to the
    Global market. <br> <br>
    <ul>
      <li>Xiaomi's Contacts, Messages and Calls applications were <b>replaced by Google Apps</b>, causing it to be
        impossible to
        record calls in the Global versions. </li>
      <li>The App Vault application has been changed to Google Discover, making it impossible to use the Xiaomi
        application. </li>
      <li>Many of Xiaomi products we would like to have in the Global market, such as: My Drive, XiaoAI, My Wallet, NFC
        in watches, etc ... </li>
    </ul>
    <img src="https://i.imgur.com/R3qJc2P.jpg" width="80%" style="margin: 0 auto; display: block;" /><br>

    We like Xiaomi, but not the direction the company is taking, <b>the price increase on the devices</b> should have
    turned
    into better support, but instead it has gotten worse. It is no longer the same company that was called
    "Quality-Price" or <b>that cared more about Mi Fans than sales</b>. That is why from this statement we encourage the
    original company to <b>change course again and return to what it was before</b> and to listen to the Mi Fans again.
    <br>
    <br>

    A cordial greeting. The MIUIes Team and all users who have signed this petition.

  </ng-container>
  <div style="display: block; margin: 0 auto; width: fit-content;">
    <ng-lottie width="200px" height="200px" [options]="options"></ng-lottie>
  </div>

  <hr style="margin: 30px 0;border-top: 1px dashed red;">
  <div style="border-left: 3px solid red; padding-left: 20px;" id="response">
    <h1>Update 05/31: <br>Xiaomi response to the request: </h1>
    Dear Mi Fans,<br> <br>

    We are Global MIUI team and we are deeply touched upon receiving your letter. In the letter, you brought us back to
    2010 when Xiaomi just started this incredible journey along with our Mi Fans. For us, it is not just a fond
    reminiscence, it is our vision and commitment to bringing amazing products with honest prices to let everyone in the
    world enjoy a better life through innovative technology. And till today, we remain true to our commitment, and to
    our users.<br> <br>

    Being a part of global innovation community, Xiaomi is still at an early stage where patience and support are needed
    from all our global Mi Fans who have been with us from the very beginning. After we went through in details the
    sincere suggestions and humble requests in the letter, we would like to share the followings with you all as our
    first step to sync up with you on our global market plans and rendering stronger global support.<br> <br>

    <h2>Rendering stronger support for global markets is our commitment</h2>

    In the letter, the number of devices is brought up as part of the complaint. It is our initial plan to eagerly share
    our latest innovations with users and to provide them with varieties of choices catering to different preferences.
    Having said that, we fully acknowledge that stronger global support is required to keep up with our fast-growing
    global user base, specifically in terms of local testing resources, local customer service support and feedback
    channels. We have made sure that these messages are clearly delivered to relevant teams and please be patient with
    us since it takes time to carry out changes.<br> <br>

    The lack of support ultimately reflects the fact that enhancements are required for both products and services. With
    the acknowledgement of that, we have developed MIUI 12.5 with the focus solely on optimization. We understand that
    customization would only be appreciated on the basis of a stable and smooth system experience, we will keep true to
    this in our future product developments as well. It requires systematic efforts to continuously optimize system
    experience and it takes time to roll out updates device by device. Once again, we will have to ask our beloved users
    to be patient with us.<br> <br>

    <h2>Global ROM and China ROM are different by design</h2>

    We are aware that our Mi Fans have questions and different opinions regarding the differences between global and
    China ROMs. It is not a differentiation of treatment, instead, it is a product strategy by design. As a global
    innovator, it is an everlasting challenge to comprehend the complexity and diversity of global markets. As compared
    with our home market with which we are relatively more familiar, a relatively conservative product approach has been
    taken when it comes to global markets.<br> <br>

    As our global markets continue to grow thanks to the support of our global Mi Fans and users, we have gradually got
    a better grasp on our user preferences and needs. We think it might be the time for us now to start exploring more
    possibilities with our global ROM in order to better meet our global user needs.<br> <br>

    <h2>We will bring more Xiaomi ecosystem products and services</h2>

    On August 16, 2010, the first version of MIUI was officially launched. MIUI is Xiaomi's first product and we have
    come a long way since then. We have brought our ecosystem products to global markets along with smartphones to make
    quality technology accessible to everyone. There is no greater joy in seeing that our global Mi Fans ask for access
    to more ecosystem products, driving us to continue to strengthen our global supply chain and product lines to bring
    more products to our global Mi Fans and users.<br> <br>

    MIUI is developed on the basis of android operating system, yet provides users with many more customizations and
    handy features. Beyond that, we also offer Google services in MIUI system in some regions. It is an alternative to
    some users who prefer Google products which provides similar experiences to native Android experience. We do
    appreciate your love to the original MIUI features and we are accelerating towards making them accessible to more
    users in different regions.<br> <br>

    We look forward to sharing with you more updates and, at the same time, receiving your ongoing feedback.<br> <br>

    Yours faithfully,<br>
    Global MIUI
  </div>

  <hr style="margin: 30px 0;border-top: 1px dashed red;">
</div>
<div class="card" style="margin-top: 40px;  display: block;">
  <span class="signs">Have already signed {{firmas}} persons</span>
  <iframe class="form"
    src="https://docs.google.com/forms/d/e/1FAIpQLSeSXN4qd5TaJ7QrsHfNMvH_yPfoOEcRB_tc01oR4MPMfGvLyA/viewform?embedded=true"
    frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
</div>
<div class="card" style="margin-top: 40px; margin-bottom: 60px; display: block;">
  <mat-tab-group>
    <mat-tab label="GIVE YOUR OPINION">
      <app-widget-telegram></app-widget-telegram>
    </mat-tab>
    <mat-tab label="NEWS">
      <ng-container *ngFor="let news of listNews">
        <app-news [text]="news.text" [slug]="news.slug" [left]="news.left" [link]="news.link"></app-news>
      </ng-container>
    </mat-tab>
  </mat-tab-group>


</div>
