<img class="head__image" src="https://i.imgur.com/QjHPFvx.png" />
<div class="card">
  <ng-container *ngIf="!loading">
    <a href="#respuesta" style="text-decoration: none;"><mat-card style="margin-bottom: 30px;background-color: #ffcdd2;color: black;"><b>Actualización 31/05:</b> Respuesta de Xiaomi</mat-card></a>

    <h1>Estimados directivos de Xiaomi,</h1>

    Como usuarios de dispositivos de <b>Xiaomi, Redmi y POCO</b> del mercado Global ha llegado un punto en el que nos
    vemos
    obligados a hacer una queja conjunta respecto al soporte de dichos terminales. <br><br>

    Cuando se creó la empresa en el año 2010 el objetivo era hacer un dispositivo económico y de buena calidad. Una de
    las principales características por las que los usuarios empezamos a comprar MIUI era porque <b>se podía
      personalizar
      completamente</b>, era un sistema <b>más abierto</b>, mediante el uso de temas y la cantidad de opciones que
    había. Pero llegó
    un momento en el que el objetivo de MIUI cambió, y se empezaron a eliminar esas opciones por las que mucha gente
    compraba los dispositivos. Con la llegada de la ROM Global se perdió hasta la característica de los temas, estando
    años bloqueada la aplicación. Además la llegada de la ROM Global introdujo el cambio de varias aplicaciones de
    Xiaomi por las de Google.<br><br>

    Aunque gracias a la llegada de Xiaomi al mercado Global los usuarios de este mercado no nos haga falta recurrir a la
    importación de dispositivos desde China, muchos nos hemos visto en la necesidad de recurrir al <b>cambio de ROM
      Global
      por la versión China o por ROMs de terceros</b>. Esto se debe a la <b>mala optimización de la ROM Global</b>. Al
    lanzar tantos
    dispositivos al año y en tantas variantes, ha provocado que el soporte de las versiones globales <b>sea nefasto</b>.
    En los
    últimos meses hemos visto dispositivos que han quedado inservibles al ser lanzadas actualizaciones OTA mal
    desarrolladas, a que prácticamente <b>todos los dispositivos contengan errores graves</b> que imposibiliten el uso
    correcto
    de los terminales y que muchos dispositivos tarden meses en corregir cualquier error que tengan. <br><br>

    Tan solo hay que darse una vuelta por Google, Mi Community o las redes sociales para comprobar los miles de usuarios
    que están teniendo problemas con sus dispositivos Xiaomi. <br><br>

    Desde este comunicado, pedimos una serie de soluciones para que los usuarios que hemos estado desde el principio y
    los que han ido llegando después continuemos usando los dispositivos Xiaomi y no nos veamos obligados a buscar
    alternativas en otros lugares.<br><br>
    <h2>Mejor soporte de las ROMs Globales</h2>

    Pedimos un mejor soporte de las ROMs Globales, con la creación de <b>un departamento en Europa</b> destinado
    exclusivamente
    a las ROMs Globales, un <b>mayor contacto con los usuarios</b> y el reporte de errores.<br><br>

    El no tener un departamento de desarrollo fuera de China provoca que los propios desarrolladores <b>no prueben las
      ROMs
      en territorio Europeo o Americano</b>, por tanto, muchos de los errores no son detectados hasta que no ha sido
    lanzada
    la actualización. También provoca que el contacto desarrollador-usuario se vea perjudicado por las barreras del
    idioma, horario, cultura y herramientas.<br><br>
    <img src="https://i.imgur.com/JDdODaT.jpg" width="80%" style="margin: 0 auto; display: block;" /><br>

    <h2>Equiparación de la ROM Global con la versión China</h2>

    Si comparamos las versiones Globales con la versión China comprobamos que <b>muchas de las características no son
      iguales</b>, muchas de las novedades de la ROM China no están disponibles en la versión Global. Tan solo hay que
    mirar
    en las novedades de MIUI 12.5 de China y las de la global, la mayoría como los sonidos de animales no están. También
    estas diferencias se encuentra en la optimización, si comparamos la cámara de un Mi 10 Pro entre las versiones China
    y Global, comprobamos que la versión Global tiene peor calidad que la versión China. <br><br>
    <img src="https://i.imgur.com/n1wwC1V.jpg" width="80%" style="margin: 0 auto; display: block;" /><br>

    <h2>Cantidad de dispositivos</h2>

    Este punto puede ser entendible para una empresa en la que quiere ganar mucho dinero, pero llega a convertirse en un
    punto negativo debido a que el <b>número de ROMs para mantener el soporte aumenta</b> y si no hay un aumento en el
    departamento de desarrollo al final termina <b>empeorando el soporte</b> de las ROMs. <br><br>

    También provoca que muchos usuarios ante la cantidad de terminales que hay disponibles <b>no sepan cuál elegir</b> y
    terminan eligiendo otra marca. En Europa y latinoamérica, la media de reemplazo de los terminales es cada 3 años,
    por tanto no necesitamos tanta variedad de dispositivos y nuevas versiones cada poco tiempo. <br><br>
    <img src="https://i.imgur.com/0j6N7HF.jpg" width="80%" style="margin: 0 auto; display: block;" />

    <h2>Más Ecosystem Xiaomi</h2>

    Una de las mejores características de la marca es el ecosistema de Xiaomi, sus productos y aplicaciones. Pero cada
    vez podemos disfrutar menos de este ecosistema debido a la sustitución de las aplicaciones por las de Google y al no
    traer más opciones al mercado Global. <br><br>
    <ul>
      <li>Las aplicaciones de Contactos, Mensajes y Llamadas de Xiaomi fueron <b>sustituidas por las de Google</b>
        provocando
        que no se puedan grabar llamadas en las versiones Globales.</li>
      <li>Se ha cambiado la aplicación de App Vault por Google Discover, haciendo imposible el uso de la aplicación de
        Xiaomi.</li>
      <li>Muchos de los productos de Xiaomi nos gustaría tenerlos en el mercado Global, como son: Mi Drive, XiaoAI, Mi
        Wallet, NFC en los relojes, etc…</li>
    </ul>
    <img src="https://i.imgur.com/R3qJc2P.jpg" width="80%" style="margin: 0 auto; display: block;" /><br>

    Nos gusta Xiaomi, pero no el rumbo que está tomando la empresa, el <b>aumento de precio en los dispositivos</b> se
    debería
    haber convertido en un mejor soporte, pero en su lugar ha ido a peor. Ya no es la misma empresa a la que se la
    llamaba “Calidad-Precio” o a la que le <b>importaba más los Mi Fans que las ventas</b>. Por eso desde este
    comunicado
    animamos a la empresa original a <b>cambiar otra vez de rumbo y volver a lo que era antes</b> y que vuelvan a
    escuchar a
    los Mi Fans. <br><br>

    Un cordial saludo. El Equipo de MIUIes y todos los usuarios que han firmado esta petición.

  </ng-container>
  <div style="display: block; margin: 10px auto; width: fit-content;">
    <ng-lottie width="200px" height="200px" [options]="options"></ng-lottie>
  </div>

  <hr style="margin: 30px 0;border-top: 1px dashed red;">
  <div style="border-left: 3px solid red; padding-left: 20px;" id="respuesta">
    <h1>Actualización 31/05: <br>Respuesta de Xiaomi a la petición: </h1>
    Queridos Mi Fans,<br><br>
  
    Somos el equipo Global MIUI y estamos profundamente conmovidos al recibir su carta. En la carta, nos trajiste de
    regreso al 2010, cuando Xiaomi acababa de comenzar este increíble viaje junto con nuestros Mi Fans. Para nosotros, no
    es solo un recuerdo afectuoso, es nuestra visión y compromiso de ofrecer productos asombrosos con precios honestos
    para que todos en el mundo disfruten de una vida mejor a través de tecnología innovadora. Y hasta el día de hoy, nos
    mantenemos fieles a nuestro compromiso y a nuestros usuarios.<br><br>
  
    Al ser parte de la comunidad de innovación global, Xiaomi todavía se encuentra en una etapa temprana en la que se
    necesita paciencia y apoyo de todos nuestros Mi Fans globales que han estado con nosotros desde el principio. Después
    de que analizamos en detalle las sugerencias sinceras y las humildes solicitudes de la carta, nos gustaría compartir
    lo siguiente con todos ustedes como nuestro primer paso para sincronizarnos con ustedes en nuestros planes de mercado
    global y brindar un apoyo global más sólido.<br><br>
  
    <h2>Dar un mayor apoyo a los mercados globales es nuestro compromiso</h2>
  
    En la carta, la cantidad de dispositivos se menciona como parte de la queja. Nuestro plan inicial es compartir con
    entusiasmo nuestras últimas innovaciones con los usuarios y ofrecerles una variedad de opciones que satisfagan las
    diferentes preferencias. Dicho esto, reconocemos plenamente que se requiere un soporte global más sólido para
    mantenerse al día con nuestra base de usuarios global en rápido crecimiento, específicamente en términos de recursos
    de prueba locales, soporte de servicio al cliente local y canales de retroalimentación. Nos hemos asegurado de que
    estos mensajes se entreguen claramente a los equipos relevantes y tenga paciencia con nosotros, ya que se necesita
    tiempo para realizar los cambios.<br><br>
  
    La falta de apoyo refleja, en última instancia, el hecho de que se requieren mejoras tanto para los productos como
    para los servicios. Con el reconocimiento de eso, hemos desarrollado MIUI 12.5 con el enfoque únicamente en la
    optimización. Entendemos que la personalización solo se apreciará sobre la base de una experiencia de sistema estable
    y fluida; también nos mantendremos fieles a esto en nuestros futuros desarrollos de productos. Requiere esfuerzos
    sistemáticos para optimizar continuamente la experiencia del sistema y lleva tiempo implementar actualizaciones
    dispositivo por dispositivo. Una vez más, tendremos que pedir a nuestros queridos usuarios que tengan paciencia con
    nosotros.<br><br>
  
    <h2>La ROM global y la ROM de China son diferentes por diseño</h2>
  
    Somos conscientes de que nuestros Mi Fans tienen preguntas y opiniones diferentes con respecto a las diferencias entre
    las ROM globales y de China. No es una diferenciación de tratamiento, sino una estrategia de producto por diseño. Como
    innovador global, es un desafío permanente comprender la complejidad y diversidad de los mercados globales. En
    comparación con nuestro mercado local con el que estamos relativamente más familiarizados, se ha adoptado un enfoque
    de producto relativamente conservador cuando se trata de mercados globales.<br><br>
  
    A medida que nuestros mercados globales continúan creciendo gracias al apoyo de nuestros Mi Fans y usuarios globales,
    gradualmente hemos comprendido mejor las preferencias y necesidades de nuestros usuarios. Creemos que podría ser el
    momento de comenzar a explorar más posibilidades con nuestra ROM global para satisfacer mejor las necesidades de
    nuestros usuarios globales.<br><br>
  
    <h2>Traeremos más productos y servicios del ecosistema Xiaomi</h2>
  
    El 16 de agosto de 2010, se lanzó oficialmente la primera versión de MIUI. MIUI es el primer producto de Xiaomi y
    hemos recorrido un largo camino desde entonces. Hemos llevado nuestros productos del ecosistema a los mercados
    globales junto con los teléfonos inteligentes para hacer que la tecnología de calidad sea accesible para todos. No hay
    mayor alegría al ver que nuestros Mi Fans globales piden acceso a más productos del ecosistema, lo que nos impulsa a
    continuar fortaleciendo nuestra cadena de suministro global y líneas de productos para llevar más productos a nuestros
    Mi Fans y usuarios globales.<br><br>
  
    MIUI se desarrolla sobre la base del sistema operativo Android, pero ofrece a los usuarios muchas más
    personalizaciones y funciones útiles. Más allá de eso, también ofrecemos servicios de Google en el sistema MIUI en
    algunas regiones. Es una alternativa para algunos usuarios que prefieren los productos de Google que brindan
    experiencias similares a la experiencia nativa de Android. Apreciamos su amor por las funciones originales de MIUI y
    estamos acelerando para hacerlas accesibles a más usuarios en diferentes regiones.<br><br>
  
    Esperamos poder compartir con usted más actualizaciones y, al mismo tiempo, recibir sus comentarios continuos.<br><br>
  
    Atentamente,<br>
    MIUI global
  </div>
  
  <hr style="margin: 30px 0;border-top: 1px dashed red;">

</div>
<div class="card" style="margin-top: 40px;  display: block;">
  <span class="signs">Ya han firmado {{firmas}} personas</span>
  <iframe class="form"
    src="https://docs.google.com/forms/d/e/1FAIpQLScn94SgXdmiftKMaBrwHok7whsnrGLeBSzKgOuv8afHbkspIw/viewform?embedded=true"
    frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
</div>
<div class="card" style="margin-top: 40px; margin-bottom: 60px; display: block;">
  <mat-tab-group>
    <mat-tab label="DA TU OPINIÓN">
      <app-widget-telegram></app-widget-telegram>
    </mat-tab>
    <mat-tab label="NOTICIAS">
      <ng-container *ngFor="let news of listNews">
        <app-news [text]="news.text" [slug]="news.slug" [left]="news.left" [link]="news.link"></app-news>
      </ng-container>
    </mat-tab>
  </mat-tab-group>


</div>
